<!-- templates/docs.html -->
{% extends "base.html" %}

{% block content %}
<h1>API Documentation</h1>
<p>Welcome to the API documentation for "Mes Achats en Chine". Below are the main endpoints of the application. Click on each to view detailed documentation.</p>

<ul>
    <li><a href="{{ url_for('docs.docs_auth', _external=True) }}">Auth API</a></li>
    <li><a href="{{ url_for('docs.docs_product', _external=True) }}">Product API</a></li>
    <li><a href="{{ url_for('docs.docs_admin', _external=True) }}">Admin API</a></li>
</ul>
{% endblock %}
